Button {
  margin: 0 3px;
}

.task-importance {
  font-weight: bold;
  color: red;
}

.withoutpaddings {
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}