li {
  list-style: none;
  position: relative;
}

span {
  display: inline-block;
  padding: 5px;
}

.task-status {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  height: 10px;
  width: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.finished > .task-status {
  background-color: green;
}

.overdue > .task-status {
  background-color: red;
}

.task-importance {
  font-weight: bold;
  color: red;
}